<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h1 align="center">
    <font face="Comic Sans MS", size=20, color="Teal">
        <i> 
            Bienvenido 
        </i>
    </font>

    </h1>
    <div align="center">

        <a href="page2.html">
            <button type="submit">
                <font face="Comic Sans MS">
                    <i> 
                        Entrar
                    </i>
                </font>
            </button> 
        </a>

    </div>
</body>
</html>